.navbar {
    margin: 35px 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialMediaLogo {
    margin-left: 14px;
}

.socialMediaLogo:hover {
    opacity: 0.8;
}

.navbarMenu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin: 0 30px;
    text-decoration: none;
}

.navbarMenu:hover {
    color: #744BFC;
}

@media (max-width: 1200px) {
    .navbar {
        margin: 35px 0;
    }

    .navbarMenu {
        margin: 10px 0;
    }

    .socialMediaLogo {
        margin-left: 0;
        margin-right: 14px;
    }
}