.navbar {
    margin: 35px 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialMediaLogo {
    margin-left: 14px;
}

.navbarMenu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin: 0 30px;
    text-decoration: none;
}

.navbarMenu:hover {
    color: #744BFC;
}
