.rdt_TableHeadRow {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    padding: 20px 0 20px 50px;
}

.rdt_TableRow {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    padding: 33px 0 18px 50px;
}